{name, "ex_php"}.
{description, "A simple PHP serialization library"}.
{homepage, "https://github.com/extend/ex_php"}.
{url, {git, "https://github.com/extend/ex_php.git", {branch, "master"}}}.
{authors, ["Anthony Ramine <nox@dev-extend.eu>"]}.
{license, "BSD", "LICENSE"}.
{rebar_compatible, true}.
{install_command, "$AGNER_PACKAGE_REPO/install.sh"}.
